OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini

TIMEZONE=Asia/Kolkata
WHATSAPP_CHAT_NAMES=Keep Learning..

DATABASE_PATH=./data/ai-learning-bot.sqlite
WHATSAPP_CHROME_PROFILE=./whatsapp-chrome-profile
CHROME_PATH=C:\Program Files\Google\Chrome\Application\chrome.exe

